PORT=4000
ORIGIN=http://localhost:3002
DATABASE_URL=postgres://postgres:postgres@localhost:5432/cockatiel
ACCESS_JWT_SECRET=YOUR_ACCESS_JWT_SECRET_KEY
REFRESH_JWT_SECRET=YOUR_REFRESH_JWT_SECRET_KEY
NODE_ENV=development
